<!--Q5-->

<h3 class="text-center mt-4 mb-4">Q.好きな教科は？</h3>
<div class="text-center">
    <%= link_to "体育", result_r5_path, class: "btn btn-primary" %>
</div>
<div class="text-center">
    <%= link_to "理科", result_r6_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "日本史", result_r7_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "世界史", result_r8_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "技術", top_q6_path, class: "btn btn-primary mt-4" %>
</div>
<div class="text-center">
    <%= link_to "美術", result_r17_path, class: "btn btn-primary mt-4" %>
</div>